@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .subMenu {
    width: 240px;
    visibility: hidden;
    position: absolute;
    top: calc(100% + 25px);
    opacity: 0;
    transition: top 0.4s, visibility 0.4s, opacity 0.4s;
  }

  .headerMenu .menuItem:hover > .subMenu {
    visibility: visible;
    top: 100%;
    opacity: 1;
  }
}
